/*首页样式*/
.container{
    width: 375px;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f7f7f7;
}
.container>.header{
    height: 90px; 
    box-sizing: border-box; 
    justify-content:space-between;
    
}
/*顶部样式*/

.header{
    background-image: url(../imgs/top_bg_01.png);
    background-repeat: no-repeat;
    background-size: 375px;
    padding: 0px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.header>.cate_box{
    flex: 1;
    width: 350px;
    height: 30px; 
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}
.cate_box>p{
    width: 22px;
    height: 39=8px;   
    margin-top: 2px;
}
.cate_box>span{
    width: 200px;
    margin-top: -4px;
}
.header>.search_box{
    height: 34px;
    margin-bottom: 7px;
    background-color: #fff;
    border-radius: 17px;/*????*/
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
}
.header>.search_box>input{
    width:100%;
    height: 100%;
    border-radius: 17px;     
    border: none; 
    padding-left: 34px;
    box-sizing: border-box;
    
}
.header>.search_box>a{
  width: 18px;
  height: 18px;
  position: absolute;
  padding-left: 13px;
  padding-top: 7px;
}

.container>.content{
    flex:1;
    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    
}
/*内容样式*/
.content>.box{
    background-image: url(../imgs/top_bg_01.png);
    background-repeat: no-repeat;
    background-size: 375px;
    background-position: 0 -90px;
    box-sizing: border-box;
    height: auto;
}
.content>.box>.banner{
    margin: 0 12px;
    height: 116px;
    border-radius: 10px;
    overflow: hidden;
    justify-content: space-between;
}

.content>.box>.banner>p{ 
    height: 116px;       
    justify-content: space-between; 
    align-items: center; 
}
.content>.box>.cates{
    height: 160px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex; 
    flex-wrap: wrap;/*����*/
    align-content: center;
    justify-content: center;
    margin-bottom: 12px;

}

.content>.box>.cates>li{
    width: 56px;
    height: 50px; 
    padding: 0 6px;
    display: flex;
    
    flex-direction: column;  
    align-items: center;
    color: #666; 
}

.content>.box>.cates>li:nth-child(-n+5){
    margin-bottom : 20px; 
    }

b 
.content>.box>.cates>li>p{
    width: 40px;
    height: 38px;
    margin-bottom: 2px; 
    justify-content: center; 

}

.content>.box>.tuijian{
    width: 351px;
    height: 346px;
    background-color: #fff;
    padding-bottom: 20px;
    margin: 0 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.content>.box>.tuijian>.top{
    flex: 1;  
    display: flex;   
    align-items: center;
    margin-bottom: 2px;
    
}
.content>.box>.tuijian>.top>.left,
.content>.box>.tuijian>.top>.right{
    width: 175px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    padding-left: 12px;
}
.content>.box>.tuijian>.top>.left,
.content>.box>.tuijian>.top>.right{
    border-left: 1px solid #ccc;
}
.content>.box>.tuijian>.top>.left>.t,
.content>.box>.tuijian>.top>.left>.b{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content>.box>.tuijian>.top>.right>.t,
.content>.box>.tuijian>.top>.right>.b{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.content>.box>.tuijian>.top>.left>.b>div,
.content>.box>.tuijian>.top>.left>.t>div{
    height: 32px;    
}
.content>.box>.tuijian>.top>.right>.b>div,
.content>.box>.tuijian>.top>.right>.t>div{
    height: 32px;    
}
.content>.box>.tuijian>.top>.left>.b>div>h2,
.content>.box>.tuijian>.top>.left>.t>div>h2{
font-size: 14px;
font-weight: bold;
line-height: 16px;
}
.content>.box>.tuijian>.top>.right>.b>div>h2,
.content>.box>.tuijian>.top>.right>.t>div>h2{
font-size: 14px;
font-weight: bold;
line-height: 16px;
}

.content>.box>.tuijian>.top>.left>.b>ul,
.content>.box>.tuijian>.top>.left>.t>ul{
    flex: 1;
    background-color: #fff;
    display: flex;
    
}
.content>.box>.tuijian>.top>.right>.b>ul,
.content>.box>.tuijian>.top>.right>.t>ul{
    flex: 1;
    background-color: #fff;   
    display: flex;
    padding: 0px 6px;
    
}
.content>.box>.tuijian>.top>.left>.b>div>span,
.content>.box>.tuijian>.top>.left>.t>div>span{
font-size: 14px;
color: #999;
line-height: 16px;
}

.content>.box>.tuijian>.top>.right>.b>div>span,
.content>.box>.tuijian>.top>.right>.t>div>span{
font-size: 14px;
color: #999;
line-height: 16px;

}
.content>.box>.tuijian>.top>.left>.b>ul>li,
.content>.box>.tuijian>.top>.left>.t>ul>li{
  flex: 1;
  width: 62px;
  height: 60px;
  justify-items: center;
}
.content>.box>.tuijian>.top>.right>.b>ul>li,
.content>.box>.tuijian>.top>.right>.t>ul>li{
    flex: 1;
    width: 62px;
    height: 60px;
    justify-items: center;
    
}
.content>.box>.tuijian>.top>.left>.t>ul>li{
    color: chocolate;
}
    
.content>.box>.tuijian>.bottom{
    height: 88px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
.content>.box>.tuijian>.bottom>ul{
    display: flex;
    flex: 1;
    align-items: center;
   background-color: #fff;
 
}
.content>.box>.tuijian>.bottom>ul>li{    
    background-color: #fff;
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
}
.content>.box>.tuijian>.bottom>ul>li>h1{
    font-size: 16px;
    font-weight: bolder;
    
}
.content>.box>.tuijian>.bottom>ul>li>span{
    font-size: 13px;
    color: black; 
}
.content>.box>.tuijian>.bottom>ul>li>ur{
    font-size: 13px;
    color: #999; 
}

.content>.box>.title{
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    margin: 5px 0 9px 12px;
}
.content>.box>.rank{
    height: 135px;
    margin: 0 12px;
    display: flex;
    justify-content: space-between;
}
.content>.box>.rank>li{
   height: 135px;
    width: 115px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.content>.box>.rank> li > p{  
    height: 88px;
    padding: 5px 20px;
    box-sizing: border-box;
}
.content>.box>.rank> li > div{
    flex: 1;   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #e9b58e 7%,#e0a16e 100%);
    position: relative;
    padding-top: 12px;
    box-sizing: border-box;
}
.content>.box>.rank>li>div>h2{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}
.content>.box>.rank>li>div>span{
    color: #f9ede3;
}
.content>.box>.rank> li > div.active{
    background: linear-gradient(135deg, #ff9d1c 7%,#ff650d 100%);
}
.content>.box>.rank> li > div>p{
    width: 52px;
    height: 18px;
    border-radius: 9px;
    background-color: #fff;
    border: 1px solid #daa87c;
    position: absolute;
    left: 50%;
    top:0;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #daa87c;
}

.content>.box>.list{
        flex: 1;  
        display: flex;   
        align-items: center;
        margin-bottom: 2px;
        
    }
    .content>.box>.list>.left,
    .content>.box>.list>.right{
        width: 135px;
        height: 100px;
        display: flex;
        flex-direction: column;
        padding-left: 12px;
        border-left: 1px solid #ccc;
        flex: 1;
    }
    .content>.box>.list>.left>ul,
    .content>.box>.list>.right>ul{
     width: 180px;
     height: 70px;
     display: flex;
     flex: 1;
     justify-content: center;
     background-color: #fff;
    }   
    .content>.box>.list>.left>li,
    .content>.box>.list>.right>li{
      flex: 1;
      width: 180px;
      height: 70px;
    }

    
    .content>.box>.list>.left>h2,
    .content>.box>.list>.right>h2{
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    }
    .content>.box>.list>.left>span,
    .content>.box>.list>.right>span{
    font-size: 14px;
    color: #999;
    line-height: 16px;
    }
   
.container>.footer{   
    height: 50px;      
    border-top:1px solid #ccc;
    background-color: white; 
   
}
/*????*/
.footer{
    padding: 0px 12px;
    box-sizing: border-box; 
    display: flex;  
    justify-content:space-between; 
}
.footer>li{
    flex: 1; 
    display: flex;
    flex-direction: column;   
    align-items: center;
    font-size: 14px;
}
.footer>li>p{
    width: 22px;
    height: 20px;
   margin-bottom: 4px; 
   justify-content: center; 
}
.footer>li.active{
    font-weight: 700;    
}